<h3>Items Listing</h3>
<p>
  This page illustrates classic listing page with add, edit, delete
  functionality.
</p>

<app-filter (filterChange)="handleFilterChange($event)"></app-filter>

<ng-container *ngIf="items | async as items">
  <app-items-list
    [items]="items"
    (editItem)="handleEditItem($event)"
    (deleteItem)="handleDeleteItem($event)"
  ></app-items-list>
</ng-container>

<app-edit-modal
  *ngIf="editingItem !== null"
  modalIdentifier="id-item-edit-modal"
  title="EDIT {{editingItem.name}}!"
  [autostart]="true"
  (cancel)="editingItem = null"
>
  <app-item-edit-form [item]="editingItem"
                      (changesSaved)="handleItemChangesSaved($event, editingItem)"></app-item-edit-form>
</app-edit-modal>

<app-confirm-delete
  *ngIf="deletingItem !== null"
  title="Delete?"
  (confirm)="handleDeleteItemConfirmed(deletingItem)"
  (cancel)="deletingItem = null"
>
  <!-- If only simple text is required the this is way to go -->
  Are you sure you want to delete "{{ deletingItem?.name }}"?

  <!--
  If any custom logic or loading data from the server (to show to the user before he can
  confirm deletion) is required then it is better to create a special component, possibly with
  a dedicated ComponentStore service

  For example:

  <app-confirm-item-delete [item]="deletingItem"></app-confirm-item-delete>
  -->
</app-confirm-delete>
